<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="SoftwareDevelopmentCenter_ConnString" value="Data Source=NB2011110201\sqlexpress;Initial Catalog=SoftwareDevelopmentCenter;User Id=sa;Password=password@55;" />
	</appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
